* {
	@include box-sizing('border-box');
}

body {
	color: $default-color;
	@include fontSize(18px);
	font-family: $default-font;
	background-color: $menu-color;
}

.wrapper {
	max-width: 100%;
	margin: 0 auto;
	width: 982px;
	
	@media (max-width: 954px) {
		padding: 0 2%;
	}
}

a {
	text-decoration: none;
	@include transition(all .3s ease);
}

input,
select,
textarea,
button {
	color: $default-color;
	@include fontSize(18px);
	font-family: $default-font;
	@include transition(all .3s ease);
}

@include placeholder {
	color: rgba($menu-color, .5);
	@include fontSize(18px);
	font-family: $menu-font;
}
